<p><%= @station.fuel_type_code %></p>
<p><%= @station.station_name %></p>
<p><%= @station.street_address %></p>
<p><%= @station.city %> <%= @station.state %><%= @station.zip %></p>
<p><%= @station.station_phone %></p>
<p><%= @station.county_id %></p>
