<div class='map' id='map'>
  <script>
L.mapbox.accessToken = 'pk.eyJ1IjoiY2x1aHJpbmciLCJhIjoiNWF2Z1l6ZyJ9.8peAq7kTQyvXShlVv1K82w';
// L.mapbox.accessToken = '<%= Rails.application.secrets.mapbox_token %>';
// L.mapbox.accessToken = "ENV['facebook_secret']";
var map = L.mapbox.map('map', 'cluhring.lc04leg6')

var myLayer = L.mapbox.featureLayer().addTo(map);

var geojsonFeatures = [
  <% @stations.each do |station| %>
  {
  "type": "Feature",
  "properties": {
    "popupContent": "<%= station.station_name %><br><%= station.street_address %>, <%= station.city %>, <%= station.state %> <%= station.zip %>",
    "icon": {
      "iconUrl": 'https://pbs.twimg.com/profile_images/444146105312243712/EHdy1GyV_400x400.png',
      "iconSize": [48, 48]
    }
  },
  "geometry": {
    "type": "Point",
    "coordinates": [
      <%= station.longitude %>,
      <%= station.latitude %>
      ]
  }
},
<% end %>
];

myLayer.on('layeradd', function(e) {
  var marker = e.layer,
  feature = marker.feature;
  if (feature.properties && feature.properties.popupContent) {
  marker.bindPopup(feature.properties.popupContent);
  marker.setIcon(L.icon(feature.properties.icon));
  }
});

myLayer.setGeoJSON(geojsonFeatures);

<% @alt_fuels.each do |alt_fuel| %>
var <%= alt_fuel.name %> = new L.LayerGroup();
<% end %>

var overlays = {
<% @alt_fuels.each do |alt_fuel| %>
"<%= alt_fuel.name %>": <%= alt_fuel.name %> ,
<% end %>
};

L.control.layers(overlays).addTo(map);

// L.geoJson(geojsonFeatures, {
//   filter: function(feature, layer) {
//     return feature.properties.show_on_map;
//   }
// }).addTo(map);


// map.locate({setView: true, maxZoom: 11});
//
// function onLocationFound(e) {
//   var radius = e.accuracy / 2;
//
//   L.marker(e.latlng).addTo(map)
//   .bindPopup("You are within " + radius + " meters from this point").openPopup();
//
//   L.circle(e.latlng, radius).addTo(map);
// }
//
// map.on('locationfound', onLocationFound);

</script>
</div>
